body {
    background-color: #fffefb;
    padding: 0px;
}

// ==========================
// Components
// ==========================

// Buttons
// ==========================
.btn {
    border-radius: 0px;
    background-image: none;
    box-shadow: none;


    padding-right: 25px;
    padding-left: 25px;
}

.btn-large {
    border: 0;
    font-size: 12px; // I hate not using REM
}

// Form input
// ==========================
input[type="text"] {
    &, &:focus {
        border: solid 1px #e9e8e5;
        border-radius: 0;
        box-shadow: 1px 2px 1px #585857;

        padding: auto 10px;
    }
}


input[type="text"].input--alpha {
    border: 0;
    box-shadow: none;
    color: #b3b3b0;
    margin: 0;
    padding: 11px 20px;
}



#content {
    display: block;
}

.homepage {}

.homepage-snakes {
    background-color: #f3f2ee;
    text-align: center;
    padding-top: 100px;
}

.homepage-menu {

}

@media (max-width: 767px) {
    #content {
        margin-top: 0px;
    }
}

/* Separator */
.spacer,
.spacer:empty,
.separator,
.separator:empty {
    display: block;
    clear: both;
    background-color: #e6e5e3;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 10px;
}

.spacer,
.spacer:empty {
    background-color: transparent;
}


// ==================
// Footer
// ==================
#footer {
    background-color: #f3f2ee;
    padding: 10px;
    padding-bottom: 250px;
}

// Footer Links
// ==================
#footer a {
    color: #a3a2a0;
    text-decoration: none;
    margin-bottom: 10px;

    &:hover {
        color: #83c171;
    }
}

// Footer List item (li)
// ==================
#footer li {
    margin-bottom: 5px;
}

// Footer text
// ==================
#footer .muted {
    color: #b3b3b0;
}