/*

Site-specific styles

*/

body {
    font: normal 14px @sansserif;
    line-height: 20px;
    color: @pytextgray;
    background-color: @mtllightcream !important;
}

* {
    font: normal 14px @sansserif;
}

header {
    background-color: @mtlgray;
}

.container-fluid {
    padding: 0 !important;
}