/**
 * Base mixin for hexagon
 */
.hexagon( @width: 100px, @color: red; ){
    @half-width: @width / 2;

    -webkit-transition: margin-top 0.4s, margin-bottom 0.4s;
    -moz-transition: margin-top 0.4s, margin-bottom 0.4s;
    transition: margin-top 0.4s, margin-bottom 0.4s;

    position: relative;
    text-align: center;
    background: @color;

    display: block;
    width: @width;
    line-height: @half-width;

    margin: -15px auto @half-width auto;

    .hexagon-wrapper:hover & {
        margin-top: -30px;
        margin-bottom: @half-width + 15px;
    }

    &:before {
        content: "";
        position: absolute;
        top: @half-width / -2;
        left: 0;
        width: 0;
        height: 0;
        border-left: @half-width solid transparent;
        border-right: @half-width solid transparent;
        border-bottom: (@half-width / 2) solid @color;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: @half-width / -2;
        left: 0;
        width: 0;
        height: 0;
        border-left: @half-width solid transparent;
        border-right: @half-width solid transparent;
        border-top: (@half-width / 2) solid @color;
    }
}


/**
 * Creates modifier to change the hexagon color
 */
.hexagon-color( @color ) {
    &.hexagon { background-color: @color; }
    &.hexagon:before { border-bottom-color: @color; }
    &.hexagon:after { border-top-color: @color; }
}

.hexagon { .hexagon(); }

.red { .hexagon-color(#ea756c); }
.blue { .hexagon-color(#73cfdd); }
.yellow { .hexagon-color(#f5cf51); }