
<div class="container">
  <div class="row">
    <div class="span3">
      <h4>Navigation</h4>
      <ul class="unstyled">
        <li><a href="/en/archive/">Blogue</a></li>
        <li><a href="/en/calendar/">Calendrier</a></li>
        <li><a href="/en/about/">À Propos</a></li>
        <li><a href="/en/sponsorship/">Commandite</a></li>
      </ul>
    </div>
    
    <div class="span3">
      <h4>Nous sommes cool</h4>
      <ul class="unstyled">
        <li><a href="https://www.facebook.com/montrealpython">Facebook</a></li>
        <li><a href="https://twitter.com/mtlpy">Twitter</a></li>
        <li><a href="https://plus.google.com/101800773149455075847/">Google +</a></li>
        <li><a href="http://instagram.com/mtlpy">Instagram</a></li>
      </ul>
    </div>

    <div class="span6">
      <h4>Abonnez-vous!</h4>
      <p><i>Pour tout savoir sur les activités de Montréal Python.</i></p>
      <form action="#">
        <input type="text" class="input--alpha" placeholder="Votre courriel ici" />{#
        #}<button type="submit" class="btn btn-success btn-large">Envoyer</button>
      </form>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row">
    <div class="span12 text-center muted">
      <p><small>Texte légal ici avec le copyright Montréal Python 2013</small></p>
    </div>
  </div>
</div>
