<div id="mainmenu">

    <nav class="container" aria-role="navigation">
        <div class="row">
            <div class="span3">
                <a id="logo" href="{{ STATIC_URL }}" class="pull-left">
                    <img src="{{ STATIC_URL }}/img/header/logo.png" />
                </a>
            </div>

            <div class="mainmenu-search">
                <a href="#" id="mainmenu-settings-link"></a>
                <a href="#" id="mainmenu-search-link"></a>
            </div>

            <div class="span7">
                <div class="mainmenu-nav">
                    <span><a href="#">Blog</a></span>
                    <span><a href="#">Calendrier</a></span>
                    <span><a href="#">À Propos</a></span>
                    <span><a href="#">Commandite</a></span>
                </div>
            </div>


        </div>

    </nav>

</div>
