{% extends "index.html" %}
{% block title %}{{ SITENAME }} - Sponsorship{% endblock %}
{% block content_title %}<h1>Sponsorship</h1><h3>Follow mailing liste</h3><h2>Contact Us</h2>{% endblock %}

{% block nav_img %}img/sponsorship.png{% endblock %}
{% block content %}<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies metus sed velit sagittis ut pharetra orci adipiscing. Vestibulum consequat sagittis dignissim. Curabitur luctus adipiscing aliquam. Vestibulum accumsan aliquet augue, vel porttitor ligula feugiat nec. Ut eu arcu libero, sodales faucibus dui. Praesent nec nibh neque. Phasellus imperdiet libero in diam interdum dapibus. Duis non eros in erat commodo commodo id nec dui. Nam quis nibh ac velit euismod tempor. Praesent blandit diam quis elit aliquam nec tincidunt lacus ultrices. Fusce imperdiet ligula at lorem malesuada ullamcorper.</p>
<p>Mauris urna justo, bibendum id fermentum porttitor, aliquet ut enim. Etiam eget massa sed libero rhoncus lobortis. Donec vel tortor quam. Proin lectus leo, bibendum eu vestibulum ac, dignissim et velit. Donec pellentesque venenatis metus. Curabitur vel mi justo, a viverra lectus. Nulla luctus metus ligula, nec aliquet est. Morbi ac laoreet velit. Aliquam erat volutpat. Maecenas quam dolor, iaculis quis ornare vitae, tempor non arcu.</p>
 {% endblock %}
