<div class="homepage">

    <div class="homepage-snakes">
        <div class="container">
            <img src="{{ STATIC_URL }}/img/home/snakes.png" alt="Snakes" style="width: 1024px; max-width: 100%;">
        </div>
    </div>


    <div class="container">

        <div class="row homepage-menu">

            <div class="span4 text-center">
                <div class="hexagon blue">
                    <img src="{{ STATIC_URL }}/img/home/icon_events.png" alt="Events" width="40" height="25" />
                </div>

                <h4>Événements</h4>

                <p>Tous les activités</p>
            </div>

            <div class="span4 text-center">
                <div class="hexagon yellow">
                    <img src="{{ STATIC_URL }}/img/home/icon_community.png" alt="Community" width="40" height="35" />
                </div>

                <h4>Communauté</h4>

                <p>Partager votre passion</p>
            </div>

            <div class="span4 text-center">
                <a class="hexagon red">
                    <img src="{{ STATIC_URL }}/img/home/icon_blog.png" alt="Blogue" width="29" height="21" />
                </a>

                <h4>Blogue</h4>

                <p>Des articles, des vidéos...</p>
            </div>
        </div>

        <div class="separator"></div>


        <ul class="thumbnails">

            <li class="span4">
                <div class="thumbnail">
                    <img src="holder.js/279x156" alt="" />

                    <div class="caption">
                        <p class="muted">In hac habitasse platea dictumst. Nam pulvinar, odio sed rho.</p>
                        <p><a href="#">En savoir plus</a></p>
                    </div>
                </div>
            </li>

            <li class="span4">
                <div class="thumbnail">
                    <img src="holder.js/279x156" alt="" />

                    <div class="caption">
                        <p class="muted">In hac habitasse platea dictumst. Nam pulvinar, odio sed rho.</p>
                        <p><a href="#">En savoir plus</a></p>
                    </div>
                </div>
            </li>

            <li class="span4">
                <div class="thumbnail">
                    <img src="holder.js/279x156" alt="" />

                    <div class="caption">
                        <p class="muted">In hac habitasse platea dictumst. Nam pulvinar, odio sed rho.</p>
                        <p><a href="#">En savoir plus</a></p>
                    </div>
                </div>
            </li>

        </ul>

        <div class="separator"></div>

        <div class="row">
            <div class="span12 text-center muted">
                <i>- Nos commanditaires -</i>
            </div>

            <div class="span12">
                <img src="holder.js/100%x200" alt="">
            </div>
        </div>


        <div class="spacer"></div>

    </div>

</div>