<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Put the title here =D</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/css/style.less" />
        <!--[if lt IE9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <script src="{{ STATIC_URL }}/js/less-1.3.3.min.js"></script>
    </head>

    <body>

        <div id="wrapper">
            {% block page %}
                <header id="header">
                    {% block header %}{% include "nav.html" %}{% endblock header %}
                </header>

                <main id="content" aria-role="main">
                    {% block content %}{% include "home.html" %}{% endblock content %}
                </main>

                <footer id="footer">
                    {% block footer %}{% include "footer.html" %}{% endblock footer %}
                </footer>
            {% endblock page %}

        </div>


        <!-- REMOVE THIS!!! -->
        <script src="https://raw.github.com/imsky/holder/master/holder.js"></script>
    </body>
</html>