<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Put the title here =D</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/css/style.less" />
        <!--[if lt IE9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <script src="{{ STATIC_URL }}/js/less-1.3.3.min.js"></script>
    </head>

    <body>

        <div id="wrapper">

            <header id="header">
                {% include "nav.html" %}
            </header>

            <main id="content" aria-role="main">
                {% include "home.html" %}
            </main>

            <footer id="footer">
                {% include "footer.html" %}
            </footer>

        </div>


        <!-- REMOVE THIS!!! -->
        <script src="https://raw.github.com/imsky/holder/master/holder.js"></script>
    </body>
</html>